<header class="row">
  <div class="col-md-3">
    <a href="/"><img src="/res/img/logo.png" alt="Logo" class="logo"/></a>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8 text-center">
        <h1 class="app-title">Order and Fulfillment System</h1>
      </div>
      <div class="col-md-3 text-right">
        <div class="row">
          <div class="col-md-12">
            Employee: {{.Employee.EmployeeNumber}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a href="">logout</a>
          </div>
        </div>
      </div>
      <div class="col-md-1 text-center">
        <a href="">
          <img src="/res/img/help.png" alt="" class="help">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-right menu">
        <a href="/parts/make">Parts Search</a>
        <span class="spacer"></span>
        <a href="/checkout?employeeNumber={{urlquery .Employee.EmployeeNumber}}">Checkout</a>
        <span class="spacer"></span>
        <a href="/admin">Admin</a>
      </div>
    </div>
  </div>
</header>
