<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, scalable=no">
<link rel="stylesheet" href="/res/css/jquery-ui.min.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/res/css/jquery.ui.theme.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/res/lib/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/res/lib/bootstrap/dist/css/bootstrap-theme.min.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/res/css/app.css" media="screen" title="no title" charset="utf-8">
<script type="text/javascript" src="/res/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/res/js/jquery-ui.min.js"></script>

<title>Piston's Auto Parts - Order and Fulfillment System</title>
