<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "_head.html"}}
  </head>
  <body class="container">
    {{template "_header.html" .}}
    <div class="row checkout">
      <div class="col-md-12">
        <div class="row table-header">
          <div class="col-md-2 text-center">
            Part Number
          </div>
          <div class="col-md-2 text-center">
            Quantity
          </div>
          <div class="col-md-3 text-center">
            Description
          </div>
          <div class="col-md-2 text-center">
            Price Per
          </div>
          <div class="col-md-2 text-center">
            Price
          </div>
          <div class="col-md-1 text-center">
            &nbsp;
          </div>
        </div>
        <div class="row table-row">
          <div class="col-md-2 text-center">
            Sample 1
          </div>
          <div class="col-md-2 text-center">
            Sample 1
          </div>
          <div class="col-md-3">
            Sample 1
          </div>
          <div class="col-md-2 text-right">
            Sample 1
          </div>
          <div class="col-md-2 text-right">
            Sample 1
          </div>
          <div class="col-md-1 text-center">
            <button class="btn btn-primary">Remove</button>
          </div>
        </div>
        <div class="row table-row">
          <div class="col-md-2 text-center">
            Sample 2
          </div>
          <div class="col-md-2 text-center">
            Sample 2
          </div>
          <div class="col-md-3">
            Sample 2
          </div>
          <div class="col-md-2 text-right">
            Sample 2
          </div>
          <div class="col-md-2 text-right">
            Sample 2
          </div>
          <div class="col-md-1 text-center">
            <button class="btn btn-primary input-sm">Remove</button>
          </div>
        </div>
        <div class="row table-row">
          <div class="col-md-2 text-center">
            Sample 3
          </div>
          <div class="col-md-2 text-center">
            Sample 3
          </div>
          <div class="col-md-3">
            Sample 3
          </div>
          <div class="col-md-2 text-right">
            Sample 3
          </div>
          <div class="col-md-2 text-right">
            Sample 3
          </div>
          <div class="col-md-1 text-center">
            <button class="btn btn-primary">Remove</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 text-right">
            <b>Subtotal</b>
          </div>
          <div class="col-md-2 text-right">
            $85.24
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 text-right">
            <b>Tax @ 5%</b>
          </div>
          <div class="col-md-2 text-right">
            $4.26
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 text-right">
            <b>Total Due</b>
          </div>
          <div class="col-md-2 text-right">
            $89.50
          </div>
        </div>
        <br>
        <div class="row ">
          <div class="col-md-9 text-right">
            Payment
          </div>
          <div class="col-md-2">
            <input type="number" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 text-right">
            Payment Method
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary form-control">
              Cash
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-9">
            <button class="btn btn-primary form-control">
              Check
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-9">
            <button class="btn btn-primary form-control">
              Credit
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
